version: 2
updates:
  # Enable version updates for npm
  - package-ecosystem: "npm"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "RYthaGOD"
    assignees:
      - "RYthaGOD"
    commit-message:
      prefix: "deps"
      prefix-development: "deps-dev"
      include: "scope"

  # Enable version updates for npm (frontend)
  - package-ecosystem: "npm"
    directory: "/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    reviewers:
      - "RYthaGOD"
    assignees:
      - "RYthaGOD"
    commit-message:
      prefix: "deps"
      prefix-development: "deps-dev"
      include: "scope"
